.woocommerce_options_panel .wc-addon-field label {
    float: none !important;
    width: auto !important;
    display: block !important;
    margin: 0 !important;
    font-size: 18px;
    color: #000;
}

.woocommerce_options_panel .wc-addon-field input[type=text] {
    float: none !important;
    width: auto !important;
}

.addon-form-fields-wrap {
    padding: 10px;
}

.addon-head h2 {
    font-size: 20px !important;
    font-weight: 500 !important;
}

.wc-addon-field {
    margin-bottom: 10px;
}

button.button.add-product-addon {
    margin: 10px 0 20px 10px;
}

